<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>ChatBOT</title>
</head>
<body>
    <div class="main">
        <h1>Привет!<br>Меня зовут Мария!</h1>
        <h3>Мне 35 лет, я психолог центра психологической помощи ПГНИУ! Моя миссия - помочь найти преподавателям индивидуальный подход к разным группам студентов!</h3>
        <br>
        <button onclick="window.location.href='/bot';">Начать общение</button>
    </div>
    <img src="{{ url_for('static',filename='image/psiholog.png') }}" class="main"/>
</body>
</html>